.row-fluid
  .span2
    %ul
      %li
        = form_tag(groups_get_a_group_path, method: :post, target: 'edit_group') do
          = submit_tag('Get a group', class: 'btn')
      %li#take-or-save

  .span10
    %iframe{name: 'edit_group'}

.row-fluid
  %iframe.span12{name: :content}
