.row-fluid
  %h2 #{@department.name}: Needs

  = form_tag({action: :get_next}, method: :post) do
    =submit_tag('Get a need', class: 'btn')

  %table.table.table-striped.table-condensed.table-bordered
    - @needs.each do |need|
      %tr
        %td.number.small
          = need.pages.length
          %span{class: need.done? ? 'icon-ok' : 'icon-remove'}
        %td=link_to(need.name, edit_department_need_path(@department, need))
  %ul
