- tag = taxonomy_tag(tax)
- case tag[:type]
- when :checkboxes
  - tag[:cls].all.each do |a|
    = check_box_tag('pages[%s][%s][%s]' % [page.id, tax, a.name], '1', page.has_tag?(tax, a.name), {disabled: !@group.taken_by?(current_user)})
- when :text
  = text_field_tag('pages[%s][%s]' % [page.id, tax], page.tags(tax).join(', '), {disabled: !@group.taken_by?(current_user)})
