.row-fluid
  %h2 Groups

  = form_tag({action: :get_next}, method: :post) do
    =submit_tag('Get a group', class: 'btn')

  %ul
    - @groups.each do |group|
      %li=link_to(group.name, edit_group_path(group))
