// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.groups
  #group
    .table-container .table
      margin-bottom: 0

    .table-container
      overflow-y: scroll
      height: 150px

    table.attributes td
      width: 35px
      padding: 0
      border: none
      background-color: inherit !important

      &.cit, &.biz, &.ret
        width: 25px

      &.bl, &.wh 
        width: 20px

    input 
      margin: 0
      font-size: 10px
      line-height: 10px
      height: 14px

      padding: 2px

      &[type="checkbox"]
        margin: 0
