.row-fluid
  %h2 Export
  %button#export_to_gdocs.btn{data: {uri: to_gdocs_export_path}} Export to Google Docs

.dialogs
  #export_to_gdocs_dialog.modal.hidden
    .modal-header
      %h3
        Please wait
    .modal-body
      %p Your document is being exported to Google Docs. This may take several minutes.
      %p
        = image_tag 'spinner.gif'
